Software	Website								Notes
--------	-------								-----
Python3
NCBI BLAST+	ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/LATEST
FastANI		https://github.com/ParBLiSS/FastANI				Required version: 1.1+
Prodigal	http://prodigal.ornl.gov
Prokka		https://github.com/tseemann/prokka	1.14.6
RGI	https://card.mcmaster.ca/
Phylip	https://evolution.genetics.washington.edu/phylip.html
MUMmer	http://mummer.sourceforge.net/	3.23
ANIcalculator	https://ani.jgi.doe.gov/html/download.php V1.0
