Bacillus thuringiensis	/public/Users/liangq/Database/closest_snp/data/Bacillus_thuringiensis	/public/Users/liangq/Database/closest_snp/ref/GCA_000008505.1_ASM850v1_genomic.fna
Bacillus safensis	/public/Users/liangq/Database/closest_snp/data/Bacillus_safensis	/public/Users/liangq/Database/closest_snp/ref/GCA_001895885.1_ASM189588v1_genomic.fna
Providencia stuartii	/public/Users/liangq/Database/closest_snp/data/Providencia_stuartii	/public/Users/liangq/Database/closest_snp/ref/GCA_000259175.1_ASM25917v1_genomic.fna
Lactobacillus gasseri	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_gasseri	/public/Users/liangq/Database/closest_snp/ref/GCA_000014425.1_ASM1442v1_genomic.fna
Campylobacter lari	/public/Users/liangq/Database/closest_snp/data/Campylobacter_lari	/public/Users/liangq/Database/closest_snp/ref/GCA_000019205.1_ASM1920v1_genomic.fna
Lactobacillus kunkeei	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_kunkeei	/public/Users/liangq/Database/closest_snp/ref/GCA_001314945.1_ASM131494v1_genomic.fna
Citrobacter freundii	/public/Users/liangq/Database/closest_snp/data/Citrobacter_freundii	/public/Users/liangq/Database/closest_snp/ref/GCA_000648515.1_ASM64851v1_genomic.fna
Lactobacillus fermentum	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_fermentum	/public/Users/liangq/Database/closest_snp/ref/GCA_000010145.1_ASM1014v1_genomic.fna
Campylobacter pinnipediorum	/public/Users/liangq/Database/closest_snp/data/Campylobacter_pinnipediorum	/public/Users/liangq/Database/closest_snp/ref/GCA_002021925.1_ASM202192v1_genomic.fna
Lactobacillus delbrueckii	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_delbrueckii	/public/Users/liangq/Database/closest_snp/ref/GCA_000056065.1_ASM5606v1_genomic.fna
Acinetobacter radioresistens	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_radioresistens	/public/Users/liangq/Database/closest_snp/ref/GCA_000368905.1_Acin_radi_CIP_103788_V1_genomic.fna
Bacillus atrophaeus	/public/Users/liangq/Database/closest_snp/data/Bacillus_atrophaeus	/public/Users/liangq/Database/closest_snp/ref/GCA_000742675.1_ASM74267v1_genomic.fna
Legionella pneumophila	/public/Users/liangq/Database/closest_snp/data/Legionella_pneumophila	/public/Users/liangq/Database/closest_snp/ref/GCA_000008485.1_ASM848v1_genomic.fna
Lactobacillus helveticus	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_helveticus	/public/Users/liangq/Database/closest_snp/ref/GCA_001308285.1_ASM130828v1_genomic.fna
Serratia marcescens	/public/Users/liangq/Database/closest_snp/data/Serratia_marcescens	/public/Users/liangq/Database/closest_snp/ref/GCA_000513215.1_DB11_genomic.fna
Cronobacter malonaticus	/public/Users/liangq/Database/closest_snp/data/Cronobacter_malonaticus	/public/Users/liangq/Database/closest_snp/ref/GCA_001277215.2_ASM127721v2_genomic.fna
Acinetobacter junii	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_junii	/public/Users/liangq/Database/closest_snp/ref/GCA_001941805.1_ASM194180v1_genomic.fna
Klebsiella variicola	/public/Users/liangq/Database/closest_snp/data/Klebsiella_variicola	/public/Users/liangq/Database/closest_snp/ref/GCA_000828055.2_ASM82805v2_genomic.fna
Cronobacter dublinensis	/public/Users/liangq/Database/closest_snp/data/Cronobacter_dublinensis	/public/Users/liangq/Database/closest_snp/ref/GCA_001277235.1_ASM127723v1_genomic.fna
Bifidobacterium pseudocatenulatum	/public/Users/liangq/Database/closest_snp/data/Bifidobacterium_pseudocatenulatum	/public/Users/liangq/Database/closest_snp/ref/GCA_001025215.1_ASM102521v1_genomic.fna
Lactobacillus sanfranciscensis	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_sanfranciscensis	/public/Users/liangq/Database/closest_snp/ref/GCA_000225325.1_ASM22532v1_genomic.fna
Pseudomonas aeruginosa	/public/Users/liangq/Database/closest_snp/data/Pseudomonas_aeruginosa	/public/Users/liangq/Database/closest_snp/ref/GCA_000006765.1_ASM676v1_genomic.fna
Enterobacter cloacae	/public/Users/liangq/Database/closest_snp/data/Enterobacter_cloacae	/public/Users/liangq/Database/closest_snp/ref/GCA_000025565.1_ASM2556v1_genomic.fna
Bacillus subtilis	/public/Users/liangq/Database/closest_snp/data/Bacillus_subtilis	/public/Users/liangq/Database/closest_snp/ref/GCA_000009045.1_ASM904v1_genomic.fna
Acinetobacter johnsonii	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_johnsonii	/public/Users/liangq/Database/closest_snp/ref/GCA_001484935.1_ASM148493v1_genomic.fna
Lactobacillus brevis	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_brevis	/public/Users/liangq/Database/closest_snp/ref/GCA_000014465.1_ASM1446v1_genomic.fna
Acinetobacter ursingii	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_ursingii	/public/Users/liangq/Database/closest_snp/ref/GCA_000368825.1_Acin_ursi_CIP_107286_V1_genomic.fna
Klebsiella pneumoniae	/public/Users/liangq/Database/closest_snp/data/Klebsiella_pneumoniae	/public/Users/liangq/Database/closest_snp/ref/GCA_000240185.2_ASM24018v2_genomic.fna
Campylobacter coli	/public/Users/liangq/Database/closest_snp/data/Campylobacter_coli	/public/Users/liangq/Database/closest_snp/ref/GCA_002024185.1_ASM202418v1_genomic.fna
Bacillus megaterium	/public/Users/liangq/Database/closest_snp/data/Bacillus_megaterium	/public/Users/liangq/Database/closest_snp/ref/GCA_000480335.1_SOAPdenovo_genomic.fna
Lactobacillus ruminis	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_ruminis	/public/Users/liangq/Database/closest_snp/ref/GCA_000224985.1_ASM22498v1_genomic.fna
Klebsiella oxytoca	/public/Users/liangq/Database/closest_snp/data/Klebsiella_oxytoca	/public/Users/liangq/Database/closest_snp/ref/GCA_001022195.1_ASM102219v1_genomic.fna
Acinetobacter nosocomialis	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_nosocomialis	/public/Users/liangq/Database/closest_snp/ref/GCA_000814165.3_ASM81416v3_genomic.fna
Enterobacter ludwigii	/public/Users/liangq/Database/closest_snp/data/Enterobacter_ludwigii	/public/Users/liangq/Database/closest_snp/ref/GCA_001750725.1_ASM175072v1_genomic.fna
Elizabethkingia miricola	/public/Users/liangq/Database/closest_snp/data/Elizabethkingia_miricola	/public/Users/liangq/Database/closest_snp/ref/GCA_000955665.1_ASM95566v1_genomic.fna
Lactobacillus casei	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_casei	/public/Users/liangq/Database/closest_snp/ref/GCA_001433735.1_ASM143373v1_genomic.fna
Bacillus clausii	/public/Users/liangq/Database/closest_snp/data/Bacillus_clausii	/public/Users/liangq/Database/closest_snp/ref/GCA_000009825.1_ASM982v1_genomic.fna
Acinetobacter pittii	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_pittii	/public/Users/liangq/Database/closest_snp/ref/GCA_000191145.1_ASM19114v1_genomic.fna
Bacillus coagulans	/public/Users/liangq/Database/closest_snp/data/Bacillus_coagulans	/public/Users/liangq/Database/closest_snp/ref/GCA_000832905.1_ASM83290v1_genomic.fna
Bacillus halotolerans	/public/Users/liangq/Database/closest_snp/data/Bacillus_halotolerans	/public/Users/liangq/Database/closest_snp/ref/GCA_001517105.1_ASM151710v1_genomic.fna
Enterobacter xiangfangensis	/public/Users/liangq/Database/closest_snp/data/Enterobacter_xiangfangensis	/public/Users/liangq/Database/closest_snp/ref/GCA_001729785.1_ASM172978v1_genomic.fna
Campylobacter hyointestinalis	/public/Users/liangq/Database/closest_snp/data/Campylobacter_hyointestinalis	/public/Users/liangq/Database/closest_snp/ref/GCA_001643955.1_ASM164395v1_genomic.fna
Bifidobacterium adolescentis	/public/Users/liangq/Database/closest_snp/data/Bifidobacterium_adolescentis	/public/Users/liangq/Database/closest_snp/ref/GCA_000010425.1_ASM1042v1_genomic.fna
Lactobacillus curvatus	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_curvatus	/public/Users/liangq/Database/closest_snp/ref/GCA_001663835.1_ASM166383v1_genomic.fna
Bacillus wiedmannii	/public/Users/liangq/Database/closest_snp/data/Bacillus_wiedmannii	/public/Users/liangq/Database/closest_snp/ref/GCA_001583695.1_ASM158369v1_genomic.fna
Bacillus altitudinis	/public/Users/liangq/Database/closest_snp/data/Bacillus_altitudinis	/public/Users/liangq/Database/closest_snp/ref/GCA_001896335.1_ASM189633v1_genomic.fna
Cronobacter turicensis	/public/Users/liangq/Database/closest_snp/data/Cronobacter_turicensis	/public/Users/liangq/Database/closest_snp/ref/GCA_000027065.2_ASM2706v1_genomic.fna
Bacillus paralicheniformis	/public/Users/liangq/Database/closest_snp/data/Bacillus_paralicheniformis	/public/Users/liangq/Database/closest_snp/ref/GCA_000408885.1_ASM40888v1_genomic.fna
Klebsiella aerogenes	/public/Users/liangq/Database/closest_snp/data/Klebsiella_aerogenes	/public/Users/liangq/Database/closest_snp/ref/GCA_000215745.1_ASM21574v1_genomic.fna
Bacillus pumilus	/public/Users/liangq/Database/closest_snp/data/Bacillus_pumilus	/public/Users/liangq/Database/closest_snp/ref/GCA_001578205.1_ASM157820v1_genomic.fna
Cronobacter sakazakii	/public/Users/liangq/Database/closest_snp/data/Cronobacter_sakazakii	/public/Users/liangq/Database/closest_snp/ref/GCA_000982825.1_ASM98282v1_genomic.fna
Bifidobacterium longum	/public/Users/liangq/Database/closest_snp/data/Bifidobacterium_longum	/public/Users/liangq/Database/closest_snp/ref/GCA_000007525.1_ASM752v1_genomic.fna
Listeria monocytogenes	/public/Users/liangq/Database/closest_snp/data/Listeria_monocytogenes	/public/Users/liangq/Database/closest_snp/ref/GCA_000196035.1_ASM19603v1_genomic.fna
Klebsiella quasipneumoniae	/public/Users/liangq/Database/closest_snp/data/Klebsiella_quasipneumoniae	/public/Users/liangq/Database/closest_snp/ref/GCA_001596075.2_ASM159607v2_genomic.fna
Lactobacillus acetotolerans	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_acetotolerans	/public/Users/liangq/Database/closest_snp/ref/GCA_001042405.1_ASM104240v1_genomic.fna
Acinetobacter baumannii	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_baumannii	/public/Users/liangq/Database/closest_snp/ref/GCA_000746645.1_ASM74664v1_genomic.fna
Lactobacillus iners	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_iners	/public/Users/liangq/Database/closest_snp/ref/GCA_000160875.1_ASM16087v1_genomic.fna
Acinetobacter lwoffii	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_lwoffii	/public/Users/liangq/Database/closest_snp/ref/GCA_000369105.1_Acin_lwof_CIP_64_10_V1_genomic.fna
Escherichia coli	/public/Users/liangq/Database/closest_snp/data/Escherichia_coli	/public/Users/liangq/Database/closest_snp/ref/GCA_000005845.2_ASM584v2_genomic.fna
Lactobacillus aviarius	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_aviarius	/public/Users/liangq/Database/closest_snp/ref/GCA_001436315.1_ASM143631v1_genomic.fna
Bacillus simplex	/public/Users/liangq/Database/closest_snp/data/Bacillus_simplex	/public/Users/liangq/Database/closest_snp/ref/GCA_001578185.1_ASM157818v1_genomic.fna
Bifidobacterium pseudolongum	/public/Users/liangq/Database/closest_snp/data/Bifidobacterium_pseudolongum	/public/Users/liangq/Database/closest_snp/ref/GCA_000800475.2_ASM80047v2_genomic.fna
Lactobacillus plantarum	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_plantarum	/public/Users/liangq/Database/closest_snp/ref/GCA_000203855.3_ASM20385v3_genomic.fna
Acinetobacter calcoaceticus	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_calcoaceticus	/public/Users/liangq/Database/closest_snp/ref/GCA_000368965.1_Acin_calc_CIP_81_8_V1_genomic.fna
Campylobacter fetus	/public/Users/liangq/Database/closest_snp/data/Campylobacter_fetus	/public/Users/liangq/Database/closest_snp/ref/GCA_000495505.1_ASM49550v1_genomic.fna
Acinetobacter haemolyticus	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_haemolyticus	/public/Users/liangq/Database/closest_snp/ref/GCA_001932555.1_ASM193255v1_genomic.fna
Acinetobacter sp.	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_sp.	/public/Users/liangq/Database/closest_snp/ref/GCA_000400715.1_Acin_sp_CIP_110321_V1_genomic.fna
Lactobacillus taiwanensis	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_taiwanensis	/public/Users/liangq/Database/closest_snp/ref/GCA_001436695.1_ASM143669v1_genomic.fna
Morganella morganii	/public/Users/liangq/Database/closest_snp/data/Morganella_morganii	/public/Users/liangq/Database/closest_snp/ref/GCA_000286435.2_ASM28643v2_genomic.fna
Lactobacillus reuteri	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_reuteri	/public/Users/liangq/Database/closest_snp/ref/GCA_000016825.1_ASM1682v1_genomic.fna
Propionibacterium freudenreichii	/public/Users/liangq/Database/closest_snp/data/Propionibacterium_freudenreichii	/public/Users/liangq/Database/closest_snp/ref/GCA_000940845.1_ASM94084v1_genomic.fna
Campylobacter lanienae	/public/Users/liangq/Database/closest_snp/data/Campylobacter_lanienae	/public/Users/liangq/Database/closest_snp/ref/GCA_002139935.1_ASM213993v1_genomic.fna
Bacillus anthracis	/public/Users/liangq/Database/closest_snp/data/Bacillus_anthracis	/public/Users/liangq/Database/closest_snp/ref/GCA_000007845.1_ASM784v1_genomic.fna
Bacillus amyloliquefaciens	/public/Users/liangq/Database/closest_snp/data/Bacillus_amyloliquefaciens	/public/Users/liangq/Database/closest_snp/ref/GCA_000196735.1_ASM19673v1_genomic.fna
Streptococcus thermophilus	/public/Users/liangq/Database/closest_snp/data/Streptococcus_thermophilus	/public/Users/liangq/Database/closest_snp/ref/GCA_000253395.1_ASM25339v1_genomic.fna
Staphylococcus pseudintermedius	/public/Users/liangq/Database/closest_snp/data/Staphylococcus_pseudintermedius	/public/Users/liangq/Database/closest_snp/ref/GCA_000185885.1_ASM18588v1_genomic.fna
Bifidobacterium animalis	/public/Users/liangq/Database/closest_snp/data/Bifidobacterium_animalis	/public/Users/liangq/Database/closest_snp/ref/GCA_000022965.1_ASM2296v1_genomic.fna
Bacillus mycoides	/public/Users/liangq/Database/closest_snp/data/Bacillus_mycoides	/public/Users/liangq/Database/closest_snp/ref/GCA_000832605.1_ASM83260v1_genomic.fna
Lactobacillus lindneri	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_lindneri	/public/Users/liangq/Database/closest_snp/ref/GCA_001702135.1_ASM170213v1_genomic.fna
Elizabethkingia meningoseptica	/public/Users/liangq/Database/closest_snp/data/Elizabethkingia_meningoseptica	/public/Users/liangq/Database/closest_snp/ref/GCA_002022145.1_ASM202214v1_genomic.fna
Neisseria meningitidis	/public/Users/liangq/Database/closest_snp/data/Neisseria_meningitidis	/public/Users/liangq/Database/closest_snp/ref/GCA_000008805.1_ASM880v1_genomic.fna
Klebsiella michiganensis	/public/Users/liangq/Database/closest_snp/data/Klebsiella_michiganensis	/public/Users/liangq/Database/closest_snp/ref/GCA_000276705.2_ASM27670v2_genomic.fna
Bacillus aryabhattai	/public/Users/liangq/Database/closest_snp/data/Bacillus_aryabhattai	/public/Users/liangq/Database/closest_snp/ref/GCA_000956595.1_ASM95659v1_genomic.fna
Campylobacter jejuni	/public/Users/liangq/Database/closest_snp/data/Campylobacter_jejuni	/public/Users/liangq/Database/closest_snp/ref/GCA_000009085.1_ASM908v1_genomic.fna
Enterobacter hormaechei	/public/Users/liangq/Database/closest_snp/data/Enterobacter_hormaechei	/public/Users/liangq/Database/closest_snp/ref/GCA_000213995.1_ASM21399v1_genomic.fna
Providencia alcalifaciens	/public/Users/liangq/Database/closest_snp/data/Providencia_alcalifaciens	/public/Users/liangq/Database/closest_snp/ref/GCA_000173415.1_ASM17341v1_genomic.fna
Neisseria elongata	/public/Users/liangq/Database/closest_snp/data/Neisseria_elongata	/public/Users/liangq/Database/closest_snp/ref/GCA_000818035.1_ASM81803v1_genomic.fna
Bacillus licheniformis	/public/Users/liangq/Database/closest_snp/data/Bacillus_licheniformis	/public/Users/liangq/Database/closest_snp/ref/GCA_000011645.1_ASM1164v1_genomic.fna
Campylobacter concisus	/public/Users/liangq/Database/closest_snp/data/Campylobacter_concisus	/public/Users/liangq/Database/closest_snp/ref/GCA_001298465.1_ASM129846v1_genomic.fna
Bifidobacterium breve	/public/Users/liangq/Database/closest_snp/data/Bifidobacterium_breve	/public/Users/liangq/Database/closest_snp/ref/GCA_001025175.1_ASM102517v1_genomic.fna
Enterobacter asburiae	/public/Users/liangq/Database/closest_snp/data/Enterobacter_asburiae	/public/Users/liangq/Database/closest_snp/ref/GCA_001521715.1_ASM152171v1_genomic.fna
Serratia plymuthica	/public/Users/liangq/Database/closest_snp/data/Serratia_plymuthica	/public/Users/liangq/Database/closest_snp/ref/GCA_000438825.1_ASM43882v1_genomic.fna
Bacillus pseudomycoides	/public/Users/liangq/Database/closest_snp/data/Bacillus_pseudomycoides	/public/Users/liangq/Database/closest_snp/ref/GCA_000161455.1_ASM16145v1_genomic.fna
Lactobacillus jensenii	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_jensenii	/public/Users/liangq/Database/closest_snp/ref/GCA_001936235.1_ASM193623v1_genomic.fna
Faecalibacterium prausnitzii	/public/Users/liangq/Database/closest_snp/data/Faecalibacterium_prausnitzii	/public/Users/liangq/Database/closest_snp/ref/GCA_000162015.1_ASM16201v1_genomic.fna
Enterobacter kobei	/public/Users/liangq/Database/closest_snp/data/Enterobacter_kobei	/public/Users/liangq/Database/closest_snp/ref/GCA_001729765.1_ASM172976v1_genomic.fna
Lactobacillus pentosus	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_pentosus	/public/Users/liangq/Database/closest_snp/ref/GCA_002211885.1_ASM221188v1_genomic.fna
Bacillus cereus	/public/Users/liangq/Database/closest_snp/data/Bacillus_cereus	/public/Users/liangq/Database/closest_snp/ref/GCA_000007825.1_ASM782v1_genomic.fna
Lactobacillus parabuchneri	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_parabuchneri	/public/Users/liangq/Database/closest_snp/ref/GCA_001922025.1_ASM192202v1_genomic.fna
Bifidobacterium bifidum	/public/Users/liangq/Database/closest_snp/data/Bifidobacterium_bifidum	/public/Users/liangq/Database/closest_snp/ref/GCA_000165905.1_ASM16590v1_genomic.fna
Serratia sp.	/public/Users/liangq/Database/closest_snp/data/Serratia_sp.	/public/Users/liangq/Database/closest_snp/ref/GCA_000214195.1_ASM21419v1_genomic.fna
Neisseria gonorrhoeae	/public/Users/liangq/Database/closest_snp/data/Neisseria_gonorrhoeae	/public/Users/liangq/Database/closest_snp/ref/GCA_000006845.1_ASM684v1_genomic.fna
Lactobacillus salivarius	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_salivarius	/public/Users/liangq/Database/closest_snp/ref/GCA_000008925.1_ASM892v1_genomic.fna
Bacillus cytotoxicus	/public/Users/liangq/Database/closest_snp/data/Bacillus_cytotoxicus	/public/Users/liangq/Database/closest_snp/ref/GCA_000017425.1_ASM1742v1_genomic.fna
Lactobacillus johnsonii	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_johnsonii	/public/Users/liangq/Database/closest_snp/ref/GCA_000008065.1_ASM806v1_genomic.fna
Lactobacillus sakei	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_sakei	/public/Users/liangq/Database/closest_snp/ref/GCA_000026065.1_ASM2606v1_genomic.fna
Lactobacillus acidophilus	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_acidophilus	/public/Users/liangq/Database/closest_snp/ref/GCA_000011985.1_ASM1198v1_genomic.fna
Acinetobacter indicus	/public/Users/liangq/Database/closest_snp/data/Acinetobacter_indicus	/public/Users/liangq/Database/closest_snp/ref/GCA_000488255.1_Acin_indi_CIP110367_V2_genomic.fna
Bacillus velezensis	/public/Users/liangq/Database/closest_snp/data/Bacillus_velezensis	/public/Users/liangq/Database/closest_snp/ref/GCA_002117165.1_ASM211716v1_genomic.fna
Lactobacillus agilis	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_agilis	/public/Users/liangq/Database/closest_snp/ref/GCA_001436215.1_ASM143621v1_genomic.fna
Lactobacillus rhamnosus	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_rhamnosus	/public/Users/liangq/Database/closest_snp/ref/GCA_000026505.1_ASM2650v1_genomic.fna
Mycobacterium tuberculosis	/public/Users/liangq/Database/closest_snp/data/Mycobacterium_tuberculosis	/public/Users/liangq/Database/closest_snp/ref/GCA_000195955.2_ASM19595v2_genomic.fna
Bacillus toyonensis	/public/Users/liangq/Database/closest_snp/data/Bacillus_toyonensis	/public/Users/liangq/Database/closest_snp/ref/GCA_000496285.1_ASM49628v1_genomic.fna
Elizabethkingia anophelis	/public/Users/liangq/Database/closest_snp/data/Elizabethkingia_anophelis	/public/Users/liangq/Database/closest_snp/ref/GCA_000495935.2_ASM49593v2_genomic.fna
Lactobacillus crispatus	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_crispatus	/public/Users/liangq/Database/closest_snp/ref/GCA_000091765.1_ASM9176v1_genomic.fna
Lactobacillus paracasei	/public/Users/liangq/Database/closest_snp/data/Lactobacillus_paracasei	/public/Users/liangq/Database/closest_snp/ref/GCA_000014525.1_ASM1452v1_genomic.fna
Clostridioides difficile	/public/Users/liangq/Database/closest_snp/data/Clostridioides_difficile	/public/Users/liangq/Database/closest_snp/ref/GCA_000009205.2_ASM920v2_genomic.fna
Salmonella enterica	/public/Users/liangq/Database/closest_snp/data/Salmonella_enterica	/public/Users/liangq/Database/closest_snp/ref/GCA_000195995.1_ASM19599v1_genomic.fna
Staphylococcus aureus	/public/Users/liangq/Database/closest_snp/data/Staphylococcus_aureus	/public/Users/liangq/Database/closest_snp/ref/GCA_000013425.1_ASM1342v1_genomic.fna
Vibrio parahaemolyticus	/public/Users/liangq/Database/closest_snp/data/Vibrio_parahaemolyticus	/public/Users/liangq/Database/closest_snp/ref/GCA_000196095.1_ASM19609v1_genomic.fna
